*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
}
#root ul{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    gap: 20px;
}
#root ul li{
    width: 220px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 8px;
}
#root ul li img{
    width: 50%;
    height: 95px;
}
#root ul li .title{
    width: 100%;
    overflow: hidden;
    height: 28px;
    font-weight: 600;
}

#root .detail_img{
    width: 300px;
    height: 300px;
}