/* 공통CSS */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: 0 !important;
    border: 0;
}
button:hover {
    border-color: transparent;
}

/* 컨테이너 */
.container{
    width: 843px;
    height: 525px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* 왼쪽 고정메뉴 */
.left-menu{
    float: left;
    width: 200px;
    height: 100%;
    background-color: #ebebeb;
}
.left-menu ul{
    margin: 15px 0;
}
.left-menu ul li a{
    display: block;
    width: 90%;
    margin-left: 10%;
    line-height: 45px;
    font-size: 17px;
    border-bottom: 1px solid #c5c5c5;
    color: #000;
}
.left-menu .orderBtn{
    background-color: #ED6351;
    color: #fff;
}

/* 오른쪽 메뉴리스트 */
.right-list{
    float: left;
    width: calc(100% - 255px);
}

.right-list ul{
    display: flex;
    justify-content:center;
    gap: 10px;    
    flex-wrap: wrap;
    height: 525px;
    overflow-y: scroll;
}
.right-list ul::-webkit-scrollbar {
  width: 0px;
}

.right-list ul li{
    width: 30%;
    cursor: pointer;
}
.right-list ul li .menuImg{
    display: block;
    height: 165px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 10px;
}

.right-list ul li.best10:nth-child(n+11){
    display: none;
}

/* 우측 고정 장바구니 버튼 */
.cart-button{
    position: absolute;
    width: 55px;
    background-color: #ED6351;
    height: 455px;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    border-radius: 50px 0 0 50px;
    color: #fff;
    letter-spacing: -2px;
}
.cart-button span{
    font-size: 30px;
    color: #fff356
}

/* 모달창 공통CSS */
.modal-wrap{
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    z-index: 9;
    background-color: #212121;
    width: 260px;
    color: #fff;
    padding: 20px;
    transition: 0.3s;
}
.modal-wrap .xBtn{
    position: absolute;
    left: -16px;
    top: -9px;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
}
.modal-wrap h3{
    padding-bottom: 5px;
}
.modal-wrap ul{
    height: 380px;
    overflow-y: scroll;
}

.modal-wrap ul::-webkit-scrollbar {
  width: 0px;
}
.modal-wrap ul li{
    padding: 7px 0;
    border-bottom: 1px solid #3d3d3d;
    position: relative;
}
.modal-wrap ul li .cart-info{
    display: flex;
    padding-top: 10px;
}

.modal-wrap ul li .cart-name{
    text-align: left;
    font-size: 17px;
}
.modal-wrap ul li .cart-info button{
    width: 30px;
    padding: 0;
    height: 30px;
    line-height: 22px;
    font-size: 20px;
}
.modal-wrap ul li .cart-info .cart-quantity{
    position: absolute;
    right: 0;
    bottom: 7px;
}
.modal-wrap ul li .cart-info .cart-quantity .num{
    padding: 0px 7px;
    font-size: 17px;
    vertical-align: text-bottom; 
}



.modal-wrap .pay{
    position: absolute;
    bottom: 45px;
    right: 0;
    left: 0;
    line-height: 45px;
    overflow: hidden;
    background-color: #000;
}
.modal-wrap.order .pay{
    bottom: 0;
}
.modal-wrap .pay span:nth-child(1){
    float: left;
    padding-left: 20px;
    font-size: 14px;
    letter-spacing: -1px;
}
.modal-wrap .pay span:nth-child(2){
    float: right;
    padding-right: 20px;
    padding-left: 4px;
    font-size: 14px;
}
.modal-wrap .pay span:nth-child(3){
    float: right;
    font-size: 20px;
}
.modal-wrap .order{
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    background-color: #ed3f28;
    color: #fff;
    border-radius: 0;
}