*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
}
body{
    place-items: unset;
}
#root{
    width: 100%;
}
a{
    color: #000;
}
a:hover{
    color: #000;
}