.container{
    font-style: none;
}

.container h1{
    font-weight: 800;
    color: green;
}
.container .content{
    overflow: hidden;
}
.container .content .tab{
    border: 1px solid #c0c0c0;
    padding: 5px 10px;
    float: left;
}
.container .content .input-wrap{
    width: 100%;
    clear: both;
    border: 1px solid #c0c0c0;
    padding: 40px 30px;
}
.container .content .input-wrap>input:nth-child(1),
.container .content .input-wrap>input:nth-child(2){
    width: 100%;
    height: 45px;
}
.container .content .input-wrap .btn{
    overflow: hidden;
    margin: 7px 0;
}
.container .content .input-wrap .btn label{
    float: left;
}
.container .content .input-wrap .btn span{
    float: right;
}
.container .content .input-wrap button{
    margin-top: 15px;
    width: 100%;
    background-color: gray;
    color: #fff;
}